
<tr>
  <%= form_for [object.user, object], remote: true do |f| %>
    <td></td>
    <td><%= f.text_field :name, class: 'form-control input-sm' %></td>
    <td><%= f.button "Save", class: 'btn btn-sm btn-primary' %></td>
    <%= javascript_tag do %>
      var id = "#<%= dom_id(f.object, :edit) %>";
      var inputs = $(id).parent().find('input');

      $(id).parent().find('button').on('click', function(e) {
        e.preventDefault();
        $(id).append(inputs.clone());
        $(id).append('<input type="hidden" name="_method" value="put">');
        $(id).submit();
      });
    <% end %>
  <% end %>
</tr>

